fastapi
uvicorn
python-dotenv
sqlalchemy
pymysql
cryptography
websockets
yfinance
xgboost
scikit-learn
joblib
pandas
numpy
vaderSentiment
firebase-admin
stripe
slowapi
pip-system-certs
firebase
groq
pytest
gunicorn
